@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-radio {
    opacity: 0;
    border: 1px solid;
  }

  label[class$="priority"] {
    font-weight: 400;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 14px;
    font-size: 1rem;
  }

  .priority-options input[type="radio"]:checked + label {
    font-weight: bold;
    border-width: 3px;
  }
  .edit-radio-label input:checked + span {
    border-color: red;
    font-weight: bold;
  }

  .nav-links {
    @apply flex gap-2 px-2 py-1 rounded-lg items-center;
  }
  .div-button {
    @apply py-2 w-24 text-center select-none hover:bg-blue-100 hover:font-bold active:scale-95 cursor-pointer bg-opacity-60 rounded-lg;
  }

  .note-item {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

dialog::backdrop {
  backdrop-filter: blur(4px);
}
